*{
    margin: 0px;
    padding: 0px;
}
.header{
        text-align: center;
        color: tomato;
        border-radius: 10px;
        height: 30px;
        font-weight: 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        width: fit-content;
        height: fit-content;
        margin-left: 45%;
        margin-top: 10px;
        font-weight: 400px;

}
.ur{
    border-radius: 10px;
    border-color: black;
    width: fit-content;
    border-style: solid;
    border: 5px;
    color: black;
    font-size: large;
    
    
    
}
