*{
 
 justify-content: center; 
   
}
.a{
   
    background-color: rgb(245, 248, 241);
    border: none;
    border-radius: 20px;
    width: fit-content;
   filter: drop-shadow(10px 10px 10px black);
    border-width: 10px ;
    margin-top: 3%;
    align-items: center;
    text-align: center;
}
.cc{
    height: 50%;
    width: 80%;
    border-radius: 50%;
}
.dd{
    background-color: rgb(245, 248, 241);
    border: none;
    margin-bottom: 5%;
    width: fit-content;
   filter: drop-shadow(10px 10px 10px black);
    border-width: 10px ;
    margin-top: 3%;
    align-items: center;
    text-align: center;
    background-color: azure;
    
}
.dd p{
    font-size: 16px;
   
}
.dd input{
border-color: rgb(14, 13, 13);
border-radius: 10px;
margin-top: 50px;
margin-bottom: 35px;

}
.dd a{
    color: rgb(11, 11, 11);
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px; 
    background-color: rgb(29, 119, 216);   
}
.dd a:hover{
   box-shadow: 10px 10px 10px black;
   background-color: rgb(9, 112, 222);
   color: aliceblue;
}
.dd button{
    margin-bottom: 20px;
    border-radius: 10px;
}
.dd button:hover{
    background-color: rgb(109, 165, 225);
    box-shadow: 10px 10px  rgb(1, 7, 14);
}
.dd h2{
    color: brown;
}
#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 1080px; 
    min-height: 720px;
    margin-right: 10%;
  }
