

.ar{
    border: none;
    border-radius: 10px;
    width: 30%;
    padding: 15px;
    margin-left: 35%;
   backdrop-filter: blur(5px);
    
    background: none;
    
    
}
.a{
   font-size: x-large;
   font-family: 'Times New Roman', Times, serif;
   
}
.b{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: smaller;

}
.im{
    height: 60%;
    width: 60%;
    margin-left: 20%;
    
}

.tab{
   
}
.for{
    border-radius: 25px;
    background-color: aquamarine;
    border-style: groove;
    margin-left: 32%;
    border-width: 5px;
    width: fit-content;
    border: none;
    box-shadow: 10px 8px 5px black;
    margin-bottom: 10%;
    margin-top: 10%;
}
.tab tr,td{
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: -10px;
    font-weight: 100;
    font-size: large;
}
.hed{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 150;
  padding: 10px;
}
.for input{
    border-radius: 10px;
    padding: 5px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 150;
    font-size: large;
}
.btn{
    padding: 10px;
    background-color: burlywood;
    border-radius: 10px;
    margin-left: 39%;
    border: none;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 150;
    font-size: large;
    box-shadow: 10px 8px 5px black;
}
